<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="table-wrapper">
            <div class="d-flex justify-content-between table-title mt-5">
                <h2>Manage<b>Movies</b></h2>
                <div>
                    <button class="btn btn-danger" (click)="deleteAllMovie()"><i class="fas fa-minus-circle"></i>Delete</button>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success"><i class="fas fa-plus-circle"></i>Add New Movies</button>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Movie ID</th>
                        <th scope="col">Movie Name</th>
                        <th scope="col">Movie Rating</th>
                        <th scope="col">Film Industry</th>
                        <th scope="col">Release Date</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let movies of movieList">
                        <td>{{movies.id}}</td>
                        <td>{{movies.mname}}</td>
                        <td>{{movies.mrating}}</td>
                        <td>{{movies.mindustry}}</td>
                        <td>{{movies.mdate}}</td>
                        <td>
                            <button type="button" data-bs-toggle="modal" (click)="editMovie(movies)" data-bs-target="#exampleModal" class="btn btn-warning"><i class="fas fa-pen"></i></button>
                            <button class="btn btn-danger" value="Delete" (click)="deleteMovie(movies)"><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Movie Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <!-- Form -->
                    <form [formGroup]="movieValue">

                        <!-- <div class="mb-3">
                        <label for="MovieID" class="form-label">Movie ID</label>
                        <input type="number" formControlName="mid" class="form-control" id="MovieID">
                    </div> -->


                        <div class="mb-3">
                            <label for="MovieName" class="form-label">Movie Name</label>
                            <input type="text" formControlName="mname" class="form-control" id="MovieName">
                        </div>

                        <div class="mb-3">
                            <label for="MovieRating" class="form-label">Movie Rating</label>
                            <input type="number" formControlName="mrating" class="form-control" id="MovieRating">
                        </div>

                        <div class="mb-3">
                            <label for="FilmIndustry" class="form-label">Film Industry</label>
                            <select id="FilmIndustry" type="text" formControlName="mindustry" class="form-control">
                            <option value="Hollywood">Hollywood</option>
                            <option value="Bollywood">Bollywood</option>
                            <option value="Cinema of China">Cinema of China</option>
                            <option value="United Kingdom">United Kingdom</option>
                            <option value="Cinema of Japan">Cinema of Japan(Nihon Eiga)</option>
                        </select>
                        </div>

                        <div class="mb-3">
                            <label for="ReleaseDate" class="form-label">Release Date</label>
                            <input type="date" formControlName="mdate" class="form-control" id="ReleaseDate">
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" *ngIf="btnSaveshow" (click)="AddMovie()">Save</button>
                    <button type="button" class="btn btn-primary" *ngIf="btnUpdateshow" (click)="UpdateMovie()">Update</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>