<body>
    <section class="form my-4 mx-5">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-5">
                    <img src="assets/images/movie_comp.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-7 px-5 pt-5 ">
                    <h1 class="font-weight-bold py-3">Movie Repository</h1>
                    <h4>Sign into your account</h4>
                    <form (ngSubmit)="onSubmit(signInForm)" #signInForm="ngForm">
                        <div class="form-row">
                            <div class="col-lg-7">
                                <input type="email" name="email" placeholder="Email-Address" required autofocus ngModel class="form-control my-3 p-2">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <input type="password" name="password" placeholder="******" required ngModel class="form-control my-3 p-2">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <button type="submit" class="btn1 mt-3 mb-5">Login</button>
                            </div>
                        </div>
                        <a href="#" style="text-decoration: none;">forgot password?</a>

                        <div class="alert.alert-danger mt-3" style="color: red;" role="alert" *ngIf="isFormInvalid">
                            Please fill all fields
                        </div>
                        <div class="alert.alert-danger mt-3" style="color: red;" role="alert" *ngIf="areCredentailsInvalid">
                            Invalid email or password
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>